body {
  align-items: center;
  background: var(--mdc-theme-background);
  margin: 0%;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0%;
  width: 100vw;
  will-change: auto;
}

form {
  padding: 2vh 5vw;
  width: 90vw;
}

.text_field {
  height: 16vh;
  width: 88vw;
}

.text_field-icon {
  font-size: 32px;
  padding-left: 12px;
  padding-right: 4px;
}

.input {
  margin-top: 1.5vh;
  font-size: 4vh;
  height: 14.6vh;
}

.label {
  margin-top: 1.5vh;
  height: 6vh;
  font-size: 4vh;
}

.mdc-text-field--filled .mdc-floating-label--float-above {
  margin-bottom: 1.5vh;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
  margin-bottom: 1.5vh;
}

.line-ripple::before {
  border-bottom-width: 0.3vh;
}

.line-ripple::after {
  border-bottom-width: 0.6vh;
}

.button {
  animation: grad 8s ease infinite;
  background: var(--gradient);
  background-size: 300% 300%;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 54px;
  height: 108px;
  width: 192px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes grad {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.options_switch {
  padding-top: 4vh;
}

.fab {
  bottom: 16px;
  right: 16px;
  position: fixed;
}

.fab_icon {
  height: 18px !important;
  padding-right: 4px;
  width: 18px !important;
}

:root {
  --gradient: linear-gradient(90deg, #d50000, #a0f, #2962ff);
  --mdc-theme-background: #fff;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-primary: #2962ff;
  --mdc-theme-secondary: #2962ff;
  --mdc-theme-surface: #fff;
  --mdc-typography-font-family: "Manrope", sans-serif;
}
